:root {
  --container-width: 1270px;
  --container-padding: 15px;

  --font-main: Integral;
  --font-accent: Satoshi;
  --font-family: Satoshi;
  --font-titles: var(--font-accent);

  --page-bg: #fff;
  --text-color: #000;
  --accent: #fff;
  --link-color: rgb(255, 255, 255);

}